{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row px-2">
        {% for post in list %}
        <div class="col-8 card pt-4">
            <div class="card-body">
                <a href="/single-post/{{ post.id }}/" class="text-decoration-none post-title">
                    <h1 class="heading-text card-title">
                        {{post.title}}
                    </h1>
                </a>
                <div class="text-muted body-text card-subtitle">
                    <h4>
                        {{post.subtitle}}
                    </h4>
                </div>
                <div class="text-muted">
                    {{post.author}}
                </div>
                <div class="text-muted">
                    {{post.date_updated}}
                </div>
                <div class="body-text card-text p-3">
                    {{post.blog_content}}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endblock content %}
    </div>
</div>


