/* font-family: 'Oxygen Mono', monospace; (font weight 400)
font-family: 'Source Code Pro', monospace; (font weight ExtraLight 200, 
                                            ExtraLight 200 Italic, SemiBold600 */


.body-text {
    font-family: 'Oxygen Mono', monospace;
    font-weight: 400;
}

.heading-text {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

.logo-outer {
    width: 30px;
    height: 30px;
    background-color: #fff;
}

.logo-inner {
    width: 12px;
    height: 12px;

}


/* Styling for posts in post-list view */
.post-title {
    color: black;
}

/* Styling for posts in single-post view */
